body{
    margin: 0;
    padding: 0;
}
ul{
    margin-top: -20px;
}
li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#353F67;
    width: 200px;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 84px;
    color: white;
    line-height: 0px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
    color:#fd4500;
    line-height: 0px;
    text-align: center
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#353F67;
}
h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    opacity: 0.8;
    margin-top: 30px;
}
.hero_cont{
    height:648px;
}
.hero{
    display: flex;
    height:480px;
    background-color: #fd4500 ;
}
.hero_text{
    height: 516px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}
.hero_img{
    flex-grow: 1;
    height: 516px;
    padding-top: 60px;
}
.text_title{
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
}
.proto{
    padding-bottom: 60px;
    display: flex;
    background-color:#ECEFEE;
}
.proto_left{
    padding-top: 50px;
    text-align: center;
    width: 40%;
    height: auto;
}
.proto_left img{
    padding-top: 20px;
    justify-content: center;
}
.proto_center{
    padding-top: 40px;
    width: 20%;
    flex-grow: 1;
    height: auto;
}
.proto_right{
    padding-top: 40px;
    flex-grow: 2;
    height: auto;
}
.user_insight{
    padding-left: 220px; 
    padding-right: 220px;
    /* KILL HEIGHT AFTER CONTENT GOES IN */
    height: 600px; 
    display: flex;
}
.user_insight_left{
    height: auto;
    width: 50%;
    background-image: url(../assets_jarvis/mag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#353f67 ;
}
.user_insight_right{
    height: auto;
    flex-grow: 1;
    background-color:#DAE0EB ;
}